bin
tmp
.DS_Store
xcuserdata

.vs
*.vcxproj.user

*.gz
*.zip
*.rar

ext-libs
ext-vcpkg

include/nb/ext

src/ext/openssl
src/ext/zlib
src/ext/leptonica
src/ext/freetype
src/ext/tesseract
src/ext/lz4
src/ext/quirc/
src/ext/libjpeg/
